@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Playpen+Sans:wght@300&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:#212121 ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}